/* A class for the time posted line for each blog post */
.time-posted {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: .5rem;
  line-height: 1.2;
}

h2.text-small {
  font-size: 1.5rem;
}

time {
  font-style: italic;
  font-size: 1.25rem;
}

header {
  padding: .5rem 0;
}

section {
  margin: .5rem 0;
  padding: .5rem;
  border: 1px solid gray;
}

button {
  margin: .5rem 0;
  padding: .5rem 1rem;
}


footer {
  padding-top: 1rem;
  font-size: 80%;
}